@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fuente__letra {
  font-family: 'Macondo', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

.conteiner {
  margin: 0px;
}

.justify-content {
  justify-content: center;
}

.justify-content2 {
  justify-content: space-around;
}

.justify-content1 {
  justify-content: flex-end;
}

.flex-direction {
  flex-direction: column;
}

.justify-content {
  justify-content: space-evenly;
}

.align-items {
  align-items: center;
}

.margin__bottom {
  margin-bottom: 90px;
}

.index__fondo__main {
  background-color: black;
  height: 1200px;
  border: 10px solid white;
}

.index__titulo__style {
  color: white;
  -webkit-text-stroke: 2px black;
}

.size__letra__titulo {
  font-size: 200px;
}

.imagenes {
  width: 500px;
  height: 700px;
  border: 10px solid white;
  border-radius: 170px;
}

.padding__contenedor {
  padding-left: 0px;
}

.botones__index__H {
  font-size: 40px;
  border: 4px solid white;
  margin-top: 90px;
  font-family: "Permanent Marker";
  padding-left: 60px;
  width: 380px;
}

.botones__index__M {
  font-size: 40px;
  border: 4px solid white;
  margin-top: 90px;
  font-family: "Permanent Marker";
  padding-left: 60px;
  width: 380px;
}

.Header__Titulo__Fondo {
  background-image: url(/imagenes/modelo-de-la-tela-escocesa-del-leñador-en-rojo-y-negro-modelo-inconsútil-del-vector-diseño-simple-de-la-materia-textil-del-95112081.jpeg);
  height: 600px;
  border: 10px solid white;
}

.Header__Titulo__Fondo .img__logo {
  height: 250px;
  width: 250px;
  border: 4px solid white;
  border-radius: 170px;
  margin-top: 30px;
  transition: 3s;
}

.Header__Titulo__Fondo .img__logo:hover {
  transform: scale(1.2);
}

.Header__Titulo__Fondo .since__header {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 40px;
}

.size__letra__menu {
  font-size: 30px;
}

.navbar {
  padding-bottom: 0rem;
}

.contenedor__logo__text {
  margin-top: 20px;
}

.botones__caja {
  padding: 300px;
}

.navbar-toggler {
  background-color: white;
}

.contenedor__logotipo__texto .logotipo {
  height: 200px;
  width: 200px;
  border: 2px white;
  border-radius: 160px;
  margin-top: 20px;
}

.main__mujeres__fondo {
  background-color: black;
  height: 1800px;
  border: 10px solid white;
}

.mujeres__main__img {
  width: 255px;
  height: 250px;
  padding-top: 20px;
}

.mujeres__contenedor__imagenes {
  margin-bottom: 20px;
  height: 500px;
}

.mujeres__caja__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__fondo {
  background-image: url(/imagenes/modelo-de-la-tela-escocesa-del-leñador-en-rojo-y-negro-modelo-inconsútil-del-vector-diseño-simple-de-la-materia-textil-del-95112081.jpeg);
  height: 200px;
  border: 10px solid white;
  height: 250px;
}

.footer__fondo .contenedor__logo__text {
  margin-top: 20px;
}

.footer__fondo .footer__texto {
  color: white;
  padding-left: 285px;
}

.footer__fondo .footer__texto2 {
  color: white;
  padding-left: 185px;
}

.footer__fondo .logotipo__texto {
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 280px;
  border: 2px solid white;
  border-radius: 100px;
}

.contenedor__main__contacto {
  background-color: black;
  border: 10px solid white;
  height: 1300px;
}

.caja__texto__formulario {
  padding-left: 100px;
  font-size: 30px;
  border: 3px white solid;
  border-radius: 100px;
  height: 800px;
  width: 900px;
}

.cajitas__texto__formulario {
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}

.contacto_botonEnviar {
  color: black;
  width: 100px;
  margin-left: 310px;
}

@media screen and (max-width: 1200px) {
  .size__letra__titulo {
    font-size: 150px;
  }
  .logotipo__texto {
    margin-left: 240px;
  }
  .footer__texto {
    padding-left: 255px;
  }
  .footer__texto2 {
    color: white;
    padding-left: 155px;
  }
}

@media screen and (max-width: 1090px) {
  .size__letra__titulo {
    font-size: 150px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 230px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 237px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 125px;
  }
}

@media screen and (max-width: 992px) {
  .size__letra__titulo {
    font-size: 140px;
  }
  .botones__index__M {
    font-size: 30px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 200px;
  }
  .botones__index__H {
    font-size: 30px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 200px;
  }
}

@media screen and (max-width: 990px) {
  .size__letra__titulo {
    font-size: 120px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 160px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 177px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 75px;
  }
}

@media screen and (max-width: 795px) {
  .size__letra__titulo {
    font-size: 120px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 130px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 139px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 55px;
  }
}

@media screen and (max-width: 795px) {
  .size__letra__titulo {
    font-size: 120px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 130px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 139px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 55px;
  }
}

@media screen and (max-width: 769px) {
  .size__letra__titulo {
    font-size: 100px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 270px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 279px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 195px;
  }
  .index__fondo__main {
    height: 1500px;
  }
  .padding__contenedor {
    padding-left: 150px;
  }
  .botones__index__M {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
}

@media screen and (max-width: 615px) {
  .size__letra__titulo {
    font-size: 100px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 220px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 229px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 125px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .flex-direction {
    flex-direction: row;
  }
  .Header__Titulo__Fondo {
    height: 700px;
  }
}

@media screen and (max-width: 604px) {
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 200px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 209px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 105px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .flex-direction {
    flex-direction: row;
  }
  .Header__Titulo__Fondo {
    height: 700px;
  }
}

@media screen and (max-width: 460px) {
  .padding__contenedor {
    padding-left: 90px;
  }
  .size__letra__titulo {
    font-size: 80px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 180px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 189px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 95px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .flex-direction {
    flex-direction: row;
  }
  .Header__Titulo__Fondo {
    height: 700px;
  }
}

@media screen and (max-width: 429px) {
  .padding__contenedor {
    padding-left: 70px;
  }
  .size__letra__titulo {
    font-size: 80px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 140px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 149px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 55px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .flex-direction {
    flex-direction: row;
  }
  .Header__Titulo__Fondo {
    height: 700px;
  }
}

@media screen and (max-width: 393px) {
  .padding__contenedor {
    padding-left: 40px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 120px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 129px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 25px;
  }
  .size__letra__titulo {
    font-size: 75px;
  }
  .Header__Titulo__Fondo {
    height: 800px;
  }
}

@media screen and (max-width: 339px) {
  .padding__contenedor {
    padding-left: 25px;
  }
  .footer__fondo .logotipo__texto {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 90px;
    border: 2px solid white;
    border-radius: 100px;
  }
  .footer__fondo .footer__texto {
    color: white;
    padding-left: 100px;
  }
  .footer__fondo .footer__texto2 {
    color: white;
    padding-left: 25px;
    font-size: 14px;
  }
  .size__letra__titulo {
    font-size: 65px;
  }
}

@media screen and (max-width: 767px) {
  .contenedor__main__contacto {
    background-color: black;
  }
  .caja__texto__formulario {
    padding-left: 100px;
    font-size: 30px;
    border: none;
    height: 1000px;
    width: 900px;
  }
  .cajitas__texto__formulario {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
  }
  .contacto_botonEnviar {
    color: black;
    width: 100px;
    margin-left: 210px;
  }
  .tituloContacto {
    padding-left: 100px;
  }
}

@media screen and (max-width: 659px) {
  .tituloContacto {
    padding-left: 40px;
  }
}

@media screen and (max-width: 582px) {
  .contenedor__main__contacto {
    background-color: black;
  }
  .caja__texto__formulario {
    padding-left: 50px;
    font-size: 30px;
    height: 1000px;
    width: 600px;
  }
  .cajitas__texto__formulario {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
  }
  .contacto_botonEnviar {
    color: black;
    width: 100px;
    margin-left: 210px;
  }
  .tituloContacto {
    padding-left: 9px;
  }
}

@media screen and (max-width: 521px) {
  .contenedor__main__contacto {
    background-color: black;
  }
  .caja__texto__formulario {
    padding-left: 50px;
    font-size: 20px;
    height: 700px;
    width: 600px;
  }
  .cajitas__texto__formulario {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
  }
  .contacto_botonEnviar {
    color: black;
    width: 100px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 459px) {
  .caja__texto__formulario {
    padding-left: 50px;
    font-size: 20px;
    height: 800px;
    width: 500px;
  }
  .contacto_botonEnviar {
    color: black;
    width: 100px;
    margin-left: 120px;
  }
}

@media screen and (max-width: 359px) {
  .caja__texto__formulario {
    padding-left: 50px;
    font-size: 17px;
    height: 800px;
    width: 500px;
  }
}

@media screen and (max-width: 992px) {
  .main__mujeres__fondo {
    background-color: black;
    height: 3800px;
  }
  .mujeres__main__img {
    width: 255px;
    height: 250px;
    padding-top: 20px;
  }
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 1200px;
  }
  .mujeres__caja__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .main__mujeres__fondo {
    background-color: black;
    height: 6000px;
  }
  .mujeres__main__img {
    width: 255px;
    height: 250px;
    padding-top: 20px;
  }
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 4200px;
  }
  .mujeres__caja__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 1900px;
  }
}
/*# sourceMappingURL=style.css.map */