* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fuente__letra {
  font-family: 'Macondo', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
}

.justify-content {
  justify-content: center;
}

.justify-content2 {
  justify-content: space-around;
}

.justify-content1 {
  justify-content: flex-end;
}

.flex-direction {
  flex-direction: column;
}

.justify-content {
  justify-content: space-evenly;
}

.align-items {
  align-items: center;
}

.margin__bottom {
  margin-bottom: 90px;
}

.Header__Titulo__Fondo {
  background-color: black;
  height: 600px;
}

.header__altura {
  height: 600px;
}

.img__logo {
  height: 250px;
  width: 250px;
  border: 2px solid white;
  border-radius: 170px;
  margin-top: 30px;
  padding-top: 20px;
}

.main__mujeres__fondo {
  background-color: black;
  height: 1800px;
}

.mujeres__main__img {
  width: 255px;
  height: 250px;
  padding-top: 20px;
}

.mujeres__contenedor__imagenes {
  margin-bottom: 20px;
  height: 500px;
}

.mujeres__caja__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__fondo {
  background-color: black;
}

.titulo {
  font-size: 100px;
}

.conteiner {
  margin: 0px;
}

.size__letra__menu {
  font-size: 30px;
}

.size__letra__titulo {
  font-size: 200px;
}

.navbar-toggler {
  background-color: white;
}

.imagenes {
  width: 500px;
  height: 700px;
  border: 10px solid white;
  border-radius: 170px;
}

.footer__height {
  height: 200px;
}

.index__fondo__main {
  background-color: black;
  height: 1200px;
  border: 10px solid white;
}

.justify-content {
  justify-content: space-evenly;
}

.index__titulo__style {
  color: white;
  -webkit-text-stroke: 2px black;
}

.contenedor__logo__text {
  margin-top: 20px;
}

.navbar {
  padding-bottom: 0rem;
}

.footer__texto {
  color: white;
  padding-left: 285px;
}

.footer__texto2 {
  color: white;
  padding-left: 185px;
  font-family: 1px;
}

.logotipo__texto {
  color: white;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 280px;
  border: 2px solid white;
  border-radius: 100px;
}

.botones__index__H {
  font-size: 40px;
  border: 4px solid white;
  margin-top: 90px;
  font-family: "Permanent Marker";
  padding-left: 60px;
  width: 380px;
}

.botones__index__M {
  font-size: 40px;
  border: 4px solid white;
  margin-top: 90px;
  font-family: "Permanent Marker";
  padding-left: 60px;
  width: 380px;
}

.since__header {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 40px;
}

.botones__caja {
  padding: 300px;
}

.padding__titulo__main {
  padding-left: 0px;
}

.padding__contenedor {
  padding-left: 0px;
}

@media screen and (max-width: 1200px) {
  .size__letra__titulo {
    font-size: 150px;
  }
  .logotipo__texto {
    margin-left: 240px;
  }
  .footer__texto {
    padding-left: 255px;
  }
  .footer__texto2 {
    color: white;
    padding-left: 155px;
  }
}

@media screen and (max-width: 992px) {
  .size__letra__titulo {
    font-size: 140px;
  }
  .botones__index__M {
    font-size: 30px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 200px;
  }
  .botones__index__H {
    font-size: 30px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 200px;
  }
}

@media screen and (max-width: 990px) {
  .size__letra__titulo {
    font-size: 120px;
  }
  .logotipo__texto {
    margin-left: 170px;
  }
  .footer__texto {
    padding-left: 180px;
  }
  .footer__texto2 {
    color: white;
    padding-left: 100px;
  }
}

@media screen and (max-width: 769px) {
  .size__letra__titulo {
    font-size: 120px;
  }
  .logotipo__texto {
    margin-left: 320px;
  }
  .footer__texto {
    padding-left: 330px;
  }
  .footer__texto2 {
    color: white;
    padding-left: 230px;
  }
  .index__fondo__main {
    height: 1500px;
  }
  .padding__contenedor {
    padding-left: 150px;
  }
  .botones__index__M {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
}

@media screen and (max-width: 690px) {
  .size__letra__titulo {
    font-size: 100px;
  }
  .logotipo__texto {
    margin-left: 290px;
  }
  .footer__texto {
    padding-left: 300px;
  }
  .footer__texto2 {
    color: white;
    padding-left: 200px;
  }
  .padding__titulo__main {
    padding-left: 70px;
  }
}

@media screen and (max-width: 690px) {
  .size__letra__titulo {
    font-size: 100px;
  }
  .logotipo__texto {
    margin-left: 240px;
  }
  .footer__texto {
    padding-left: 250px;
  }
  .footer__texto2 {
    padding-left: 160px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .flex-direction {
    flex-direction: row;
  }
  .Header__Titulo__Fondo {
    height: 700px;
  }
}

@media screen and (max-width: 502px) {
  .size__letra__titulo {
    font-size: 90px;
  }
  .logotipo__texto {
    margin-left: 190px;
  }
  .footer__texto {
    padding-left: 200px;
  }
  .footer__texto2 {
    padding-left: 100px;
  }
  .index__fondo__main {
    height: 1500px;
  }
  .padding__contenedor {
    padding-left: 150px;
  }
  .botones__index__M {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 30px;
    width: 250px;
  }
  .size__letra__menu {
    font-size: 20px;
  }
  .padding__contenedor {
    padding-left: 100px;
  }
}

@media screen and (max-width: 502px) {
  .size__letra__titulo {
    font-size: 60px;
  }
  .padding__titulo__main {
    padding-left: 99px;
  }
  .botones__index__M {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .index__fondo__main {
    height: 1200px;
  }
  .padding__contenedor {
    padding-left: 70px;
  }
}

@media screen and (max-width: 502px) {
  .size__letra__titulo {
    font-size: 60px;
  }
  .padding__titulo__main {
    padding-left: 99px;
  }
  .botones__index__M {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .index__fondo__main {
    height: 1200px;
  }
}

@media screen and (max-width: 435px) {
  .size__letra__titulo {
    font-size: 60px;
  }
  .padding__titulo__main {
    padding-left: 89px;
  }
  .botones__index__M {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .index__fondo__main {
    height: 1200px;
  }
  .logotipo__texto {
    margin-left: 150px;
  }
  .footer__texto {
    padding-left: 166px;
  }
  .footer__texto2 {
    padding-left: 80px;
  }
}

@media screen and (max-width: 410px) {
  .size__letra__titulo {
    font-size: 80px;
  }
  .padding__titulo__main {
    padding-left: 40px;
  }
  .botones__index__M {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .index__fondo__main {
    height: 1200px;
  }
  .logotipo__texto {
    margin-left: 150px;
  }
  .footer__texto {
    padding-left: 160px;
  }
  .footer__texto2 {
    padding-left: 50px;
  }
}

@media screen and (max-width: 390px) {
  .size__letra__titulo {
    font-size: 75px;
  }
  .padding__titulo__main {
    padding-left: 25px;
  }
  .botones__index__M {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .botones__index__H {
    font-size: 20px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 50px;
    width: 250px;
  }
  .index__fondo__main {
    height: 1200px;
  }
  .logotipo__texto {
    margin-left: 110px;
  }
  .footer__texto {
    padding-left: 125px;
  }
  .footer__texto2 {
    padding-left: 35px;
  }
  .padding__contenedor {
    padding-left: 40px;
  }
}

@media screen and (max-width: 343px) {
  .padding__titulo__main {
    padding-left: 15px;
  }
  .Header__Titulo__Fondo {
    background-color: black;
    height: 700px;
  }
  .padding__contenedor {
    padding-left: 20px;
  }
}

@media screen and (max-width: 326px) {
  .size__letra__titulo {
    font-size: 65px;
  }
}

@media screen and (max-width: 992px) {
  .main__mujeres__fondo {
    background-color: black;
    height: 3800px;
  }
  .mujeres__main__img {
    width: 255px;
    height: 250px;
    padding-top: 20px;
  }
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 1200px;
  }
  .mujeres__caja__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .main__mujeres__fondo {
    background-color: black;
    height: 6000px;
  }
  .mujeres__main__img {
    width: 255px;
    height: 250px;
    padding-top: 20px;
  }
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 4200px;
  }
  .mujeres__caja__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 769px) {
  .mujeres__contenedor__imagenes {
    margin-bottom: 20px;
    height: 1900px;
  }
}
/*# sourceMappingURL=style.css.map */