@import "larrosa/universales";
@import "larrosa/flex";
@import "larrosa/indexMain";
@import "larrosa/headerIndex";
@import "larrosa/mujeresMain";
@import "larrosa/footer";
@import "larrosa/contactoFormulario";


.titulo {
    font-size: 100px;
}

.conteiner {
    margin: 0px;
}

.size__letra__menu {
    font-size: 30px
}

.size__letra__titulo {
    font-size: 200px
}

.navbar-toggler {
    background-color: white;
}













.index__titulo__style {
    color: white;
    -webkit-text-stroke: 2px black;
}
.contenedor__logo__text{margin-top: 20px;}



.since__header{    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    padding-left: 20px;
    padding-top: 30px;font-size: 40px;}
.botones__caja{padding: 300px;}

.padding__contenedor{padding-left: 0px}

@import "larrosa/queriesContacto";
@import "larrosa/queriesIndex.scss";
@import "larrosa/queriesMujeres";
