.footer__fondo {
    background-color: black;
    height: 200px;
    border: 10px solid white;
    height: 250px;

    .contenedor__logo__text {
        margin-top: 20px;
    }

    .footer__texto {
        color: $color-principal;
        padding-left: 285px;
    }

    .footer__texto2 {
        color: white;
        padding-left: 185px;
    }

    .logotipo__texto {
        color: $color-principal;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 280px;
        border: 2px solid white;
        border-radius: 100px;
    }
}