.footer__fondo {
    background-image: url(/imagenes/modelo-de-la-tela-escocesa-del-leñador-en-rojo-y-negro-modelo-inconsútil-del-vector-diseño-simple-de-la-materia-textil-del-95112081.jpeg);
    height: 200px;
    border: 10px solid white;
    height: 250px;

    .contenedor__logo__text {
        margin-top: 20px;
    }

    .footer__texto {
        color: $color-primncipal;
        padding-left: 285px;
    }

    .footer__texto2 {
        color: white;
        padding-left: 185px;
    }

    .logotipo__texto {
        color: $color-primncipal;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 280px;
        border: 2px solid white;
        border-radius: 100px;
    }
}