.footer__fondo {
    background-color: black;height: 200px
 }

 .footer__texto{color: white;padding-left: 285px;}
 .footer__texto2{color: white;padding-left: 185px;font-family: 1px;}
 .logotipo__texto{color: white; margin-top: 0;
     margin-bottom: 1rem;margin-left: 280px;border: 2px solid white; border-radius: 100px;}