.Header__Titulo__Fondo {
    /*background-image: "url(../../imagenes/modelo-de-la-tela-escocesa-del-leñador-en-rojo-y-negro-modelo-inconsútil-del-vector-diseño-simple-de-la-materia-textil-del-95112081.jpeg)";*/
    
    background-image: url(../../imagenes/a320f9b96cb4f3acfd193e0666fdaa6a.jpeg);
    height: 600px;
    border: 10px solid white;

    .img__logo {
        height: map-get($estilos__img__logo, height);
        width: map-get($estilos__img__logo, width);
        border: map-get($estilos__img__logo, border2PX);
        border-radius: map-get($estilos__img__logo, b-radius);
        margin-top: map-get($estilos__img__logo, marg-top);
        padding-top: map-get($estilos__img__logo, padd-top);
        transition: map-get($estilos__img__logo, transition);

    }

    .img__logo:hover {
        transform: scale(1.2);
    }

    .since__header {
        margin-top: 0;
        margin-bottom: 1rem;
        color: $color-principal;
       
        padding-top: 30px;
        font-size: 40px;

    }
}

.size__letra__menu {
    font-size: 30px
}

.navbar {
    padding-bottom: 0rem;
}

.contenedor__logo__text {
    margin-top: 20px;
}

.botones__caja {
    padding: 300px;
}

.navbar-toggler {
    background-color: $color-principal;
}

.contenedor__logotipo__texto .logotipo {
    height: 200px;
    width: 200px;
    border: 2px white;
    border-radius: 160px;
    margin-top: 20px;

}