.index__fondo__main {
    background-color: $colorAlternativo;
    height: 1200px;
    border: 10px solid white;
}

.index__titulo__style {
    color: $color-principal;
    -webkit-text-stroke: 2px black;
}

.size__letra__titulo {
    font-size: 200px
}

.imagenes {
    width: 500px;
    height: 700px;
    border: 10px solid white;
    border-radius: 170px;
}

.padding__contenedor {
    padding-left: 0px
}

.botones__index__H {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 60px;
    width: 380px;
}

.botones__index__M {
    font-size: 40px;
    border: 4px solid white;
    margin-top: 90px;
    font-family: "Permanent Marker";
    padding-left: 60px;
    width: 380px;
}