.main__mujeres__fondo{background-color: black;height: 1800px;    border: 10px solid white;}
.mujeres__main__img{width: 255px; height: 250px; padding-top: 20px;}
.mujeres__contenedor__imagenes{margin-bottom: 20px; height: 500px; }
.mujeres__caja__texto{    display: flex;
    flex-direction: column;
    align-items: center;}