@media screen and (max-width:1000px) {
    .size__letra__titulo2 {
        font-size: 100px;
    }
    }
    @media screen and (max-width:497px) {
        .size__letra__titulo2 {
            font-size: 60px;
        }
        }
        @media screen and (max-width:397px) {
            .size__letra__titulo2 {
                font-size: 50px;
            }
            }