@media screen and (max-width:1200px) {
    .size__letra__titulo {
        font-size: 150px
    }

    .logotipo__texto {

        margin-left: 240px;

    }

    .footer__texto {
        padding-left: 255px;
    }

    .footer__texto2 {
        color: $color-primncipal;
        padding-left: 155px;
    }
}
@media screen and (max-width:1090px) {
    .size__letra__titulo {
        font-size: 150px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 230px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 237px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 125px;
       
    }
}

@media screen and (max-width:992px) {
    .size__letra__titulo {
        font-size: 140px
    }

    .botones__index__M {
        font-size: 30px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 200px;
    }

    .botones__index__H {
        font-size: 30px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 200px;
    }
}

@media screen and (max-width:990px) {
    .size__letra__titulo {
        font-size: 120px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 160px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 177px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 75px;
       
    }
}
@media screen and (max-width:795px) {
    .size__letra__titulo {
        font-size: 120px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 130px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 139px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 55px;
       
    }
}
@media screen and (max-width:795px) {
    .size__letra__titulo {
        font-size: 120px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 130px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 139px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 55px;
       
    }
}
@media screen and (max-width:769px) {
    .size__letra__titulo {
        font-size: 100px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 270px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 279px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 195px;
       
    }

    .index__fondo__main {
        height: 1500px;
    }

    .padding__contenedor {
        padding-left: 150px;
    }

    .botones__index__M {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }
}



@media screen and (max-width:615px) {
    .size__letra__titulo {
        font-size: 100px
    }

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 220px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 229px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 125px;
       
    }

    .size__letra__menu {
        font-size: 20px
    }

    .flex-direction {
        flex-direction: row;
    }

    .Header__Titulo__Fondo {
        height: 700px;
    }
}


@media screen and (max-width:604px) {
   

    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 200px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 209px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 105px;
       
    }

    .size__letra__menu {
        font-size: 20px
    }

    .flex-direction {
        flex-direction: row;
    }

    .Header__Titulo__Fondo {
        height: 700px;
    }
}


@media screen and (max-width:460px) {
    .padding__contenedor {
        padding-left: 90px;
    }

    .size__letra__titulo {
        font-size: 80px
    }


    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 180px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 189px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 95px;
       
    }

    .size__letra__menu {
        font-size: 20px
    }

    .flex-direction {
        flex-direction: row;
    }

    .Header__Titulo__Fondo {
        height: 700px;
    }
}

@media screen and (max-width:429px) {
    .padding__contenedor {
        padding-left: 70px;
    }

    .size__letra__titulo {
        font-size: 80px
    }


    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 140px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 149px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 55px;
       
    }

    .size__letra__menu {
        font-size: 20px
    }

    .flex-direction {
        flex-direction: row;
    }

    .Header__Titulo__Fondo {
        height: 700px;
    }
}
@media screen and (max-width:393px) {
 

    .padding__contenedor {
        padding-left: 40px;
    }
    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 120px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 129px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 25px;
       
    }

    
    .size__letra__titulo {
        font-size: 75px
    }
    .Header__Titulo__Fondo {
       
        height: 800px;
       }
}
@media screen and (max-width:339px) {
 

    .padding__contenedor {
        padding-left: 25px;
    }
    .footer__fondo .logotipo__texto {
        color: white;
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 90px;
        border: 2px solid white;
        border-radius: 100px;
    }

    .footer__fondo .footer__texto {
        color: white;
        padding-left: 100px;
    }

    .footer__fondo .footer__texto2 {
        color: white;
        padding-left: 25px;
        font-size: 14px;
    }

    
    .size__letra__titulo {
        font-size: 65px
    }

}