@media screen and (max-width:1200px) {
    .size__letra__titulo {
        font-size: 150px
    }

    .logotipo__texto {

        margin-left: 240px;

    }

    .footer__texto {
        padding-left: 255px;
    }

    .footer__texto2 {
        color: $color-primncipal;
        padding-left: 155px;
    }
}


@media screen and (max-width:992px) {
    .size__letra__titulo {
        font-size: 140px
    }

    .botones__index__M {
        font-size: 30px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 200px;
    }

    .botones__index__H {
        font-size: 30px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 200px;
    }
}

@media screen and (max-width:990px) {
    .size__letra__titulo {
        font-size: 120px
    }

    .logotipo__texto {

        margin-left: 170px;

    }

    .footer__texto {
        padding-left: 180px;
    }

    .footer__texto2 {
        color: $color-primncipal;
        padding-left: 100px;
    }
}

@media screen and (max-width:769px) {
    .size__letra__titulo {
        font-size: 120px
    }

    .logotipo__texto {

        margin-left: 320px;

    }

    .footer__texto {
        padding-left: 330px;
    }

    .footer__texto2 {
        color: $color-primncipal;
        padding-left: 230px;
    }

    .index__fondo__main {
        height: 1500px;
    }

    .padding__contenedor {
        padding-left: 150px;
    }

    .botones__index__M {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }
}

@media screen and (max-width:690px) {
    .size__letra__titulo {
        font-size: 100px
    }

    .logotipo__texto {

        margin-left: 290px;

    }

    .footer__texto {
        padding-left: 300px;
    }

    .footer__texto2 {
        color: white;
        padding-left: 200px;
    }

    .padding__titulo__main {
        padding-left: 70px;
    }
}

@media screen and (max-width:690px) {
    .size__letra__titulo {
        font-size: 100px
    }

    .logotipo__texto {

        margin-left: 240px;

    }

    .footer__texto {
        padding-left: 250px;
    }

    .footer__texto2 {
        padding-left: 160px;
    }

    .size__letra__menu {
        font-size: 20px
    }

    .flex-direction {
        flex-direction: row;
    }

    .Header__Titulo__Fondo {
        height: 700px;
    }
}


@media screen and (max-width:502px) {
    .size__letra__titulo {
        font-size: 90px
    }

    .logotipo__texto {

        margin-left: 190px;

    }

    .footer__texto {
        padding-left: 200px;
    }

    .footer__texto2 {

        padding-left: 100px;
    }

    .index__fondo__main {
        height: 1500px;
    }

    .padding__contenedor {
        padding-left: 150px;
    }

    .botones__index__M {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 40px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 30px;
        width: 250px;
    }

    .size__letra__menu {
        font-size: 20px
    }

    .padding__contenedor {
        padding-left: 100px;
    }
}

@media screen and (max-width:502px) {
    .size__letra__titulo {
        font-size: 60px
    }

    .padding__titulo__main {
        padding-left: 99px;
    }

    .botones__index__M {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .index__fondo__main {
        height: 1000px;
    }

    .padding__contenedor {
        padding-left: 70px;
    }
}

@media screen and (max-width:502px) {
    .size__letra__titulo {
        font-size: 60px
    }

    .padding__titulo__main {
        padding-left: 99px;
    }

    .botones__index__M {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .imagenes {
        width: 200px;
        height: 500px;
        border: 10px solid white;
        border-radius: 170px;
    }

    .botones__index__H {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }


}

@media screen and (max-width:435px) {
    .size__letra__titulo {
        font-size: 60px
    }

    .padding__titulo__main {
        padding-left: 89px;
    }

    .botones__index__M {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .index__fondo__main {
        height: 1200px;
    }

    .logotipo__texto {

        margin-left: 150px;

    }

    .footer__texto {
        padding-left: 166px;
    }

    .footer__texto2 {

        padding-left: 80px;
    }

}

@media screen and (max-width:410px) {
    .size__letra__titulo {
        font-size: 80px
    }

    .padding__titulo__main {
        padding-left: 40px;
    }

    .botones__index__M {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }


    .logotipo__texto {

        margin-left: 150px;

    }

    .footer__texto {
        padding-left: 160px;
    }

    .footer__texto2 {

        padding-left: 50px;
    }
}

@media screen and (max-width:390px) {
    .size__letra__titulo {
        font-size: 75px
    }

    .padding__titulo__main {
        padding-left: 25px;
    }

    .botones__index__M {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }

    .botones__index__H {
        font-size: 20px;
        border: 4px solid white;
        margin-top: 90px;
        font-family: "Permanent Marker";
        padding-left: 50px;
        width: 250px;
    }


    .logotipo__texto {

        margin-left: 110px;

    }

    .footer__texto {
        padding-left: 125px;
    }

    .footer__texto2 {

        padding-left: 35px;

    }

    .padding__contenedor {
        padding-left: 40px;
    }
}

@media screen and (max-width:343px) {
    .padding__titulo__main {
        padding-left: 15px;
    }

    .Header__Titulo__Fondo {
        background-color: black;
        height: 700px;
    }

    .padding__contenedor {
        padding-left: 20px;
    }
}


@media screen and (max-width:326px) {

    .size__letra__titulo {
        font-size: 65px
    }
}