* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fuente__letra {
    font-family: 'Macondo', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
}