$color-primncipal:white;
$colorAlternativo: black;
$fondos:(header:black, main:black, footer:black);
$estilos__img__logo:(height:200px, width: 200px,
    border2PX: 4px solid white,
    b-radius: 170px,
    marg-top: 30px,
    transition: 3s)
